%h2 Edit book


= form_tag book_path(@book), :method => :put do

  = label :book, :author, 'Author'
  = text_field :book, 'author'

  = label :book, :title, 'Title'
  = text_field :book, 'title'

  = label :book, :genre, 'Genre'
  = select :book, :genre, ["Science fiction", "Drama", "Action and romance", "Romance", "Mystery", "Horror"]

  = label :book, :isbn_number, 'ISBN Number'
  = text_field :book, 'isbn_number'

  = label :book, :publish_date, 'Released On'
  = date_select :book, :publish_date

  = label :book, :description, 'Description'
  = text_field :book, 'description'

  = submit_tag 'Update Book Info'
