-#  This file is app/views/movies/index.html.haml
%h1 All Books

= form_tag books_path, :method => :get, :id => 'genres_form' do
  = hidden_field_tag "title_sort", true if @title_header
  = hidden_field_tag "genre_sort", true if @genre_header
  Include:
  - @all_genres.each do |genre|
    = genre
    = check_box_tag "genres[#{genre}]", 1, @selected_genres.include?(genre), :id => "genres_#{genre}"
  = submit_tag 'Refresh', :id => 'genres_submit'

%table#books
  %thead
    %tr
      %th Author
      %th{:class => @title_header}= link_to 'Title', books_path(:sort => 'title'), :id => 'title_header'
      %th{:class => @genre_header}= link_to 'Genre', books_path(:sort => 'genre'), :id => 'genre_header'
      %th Description
      %th ISBN number
      %th Publish date
      %th 
  %tbody
    - @books.each do |book|
      %tr
        %td= book.author 
        %td= book.title 
        %td= book.genre
        %td= book.description
        %td= book.isbn_number
        %td= book.publish_date
        %td= link_to "More info", book_path(book)

= link_to 'Add new book', new_book_path
