%h2 Create New Book

= form_tag books_path, :method => :post do
  - unless @book.errors.empty?
    #warning
    Errors prevented this book from being #{controller.action_name}d:
    %ul
      - @movie.errors.full_messages.each do |error|
        %li= error

  = label :book, :author, 'Author'
  = text_field :author, 'author'

  = label :book, :title, 'Title'
  = text_field :book, 'title'

  = label :book, :genre, 'Genre'
  = select :book, :genre, ["Science fiction", "Drama", "Action and romance", "Romance", "Mystery", "Horror"]

  = label :book, :isbn_number, 'ISBN Number'
  = text_field :book, 'isbn_number'

  = label :book, :publish_date, 'Released On'
  = date_select :book, :publish_date

  = label :book, :description, 'Description'
  = text_field :book, 'description'

  = submit_tag 'Create book'
