%h1 Similar Books page for #{@book.title}

%table#same_author
  %thead
    %tr
      %th Author
      %th Title
      %th Genre
      %th Description
      %th ISBN number
      %th Publish date
  %tbody
    - @books.each do |book|
      %tr
        %td= book.author 
        %td= book.title
        %td= book.genre
        %td= book.description
        %td= book.isbn_number
        %td= book.publish_date
