%h2 Details about #{@book.title}

%ul#details
  %li
    Author:
    = @book.author
  %li
    Genre:
    = @book.genre
  %li
    ISBN number:
    = @book.isbn_number

  %li
    Publish date:
    = @book.publish_date.strftime("%B %d, %Y")

%h3 Description:
%p#description= @book.description

= link_to 'Edit info', edit_book_path(@book)
= link_to 'Delete', book_path(@book), :method => :delete
= link_to 'Back to book list', books_path
= link_to 'Find Books With Same Author', search_similar_books_url(id: @book.id)
